.legend {
    font-family: 'Open Sans', sans-serif;
    fill: #ffffff;
}

.tooltip {
    fill: #ffffff;
}

.radarChart {
    background-image: "images/nba.jpg";
}

.player-heading {
    background-color: black;
    padding: 10px;
    font-size: 15px;
}

.player-body {
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.player-body-2 {
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: white;
    text-align: center;
    cursor: default;
    background-image: url('images/NBA_court_radial.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

  footer {
    position: absolute;
    right: 0;bottom:0;left:0;
  }

h1 {
  text-align: center;
  padding: 30px;
  text-align: center;
  background-image: url('images/nba_banner.jpg');
  padding: 25px;
  color: white;
  font-size: 25px;
}

.navbar-nav a{
    color: dodgerblue !important;
    text-align: center;
    margin-left: 200px;
  }

ul {
    list-style-type: none;
}

.panel-heading-1 {
    background-color: #CC333F;
    padding: 10px;
    font-size: 15px;
}

.panel-heading-2 {
    background-color: #00a0b0;
    padding: 10px;
    font-size: 15px;
}

#filter-btn-1 {
    background-image: linear-gradient(to right, #CC333F, #CC333F 50%, #00a0b0 50%, #00a0b0);
    background-size: cover;
    background-repeat: no-repeat;
}

.radarCircleWrapper:hover > .radarInvisibleCircle {
    fill: orange;
    opacity: 1;
}


.compare-button:hover > .fire {
    animation: burn 1.5s linear infinite alternate;
-webkit-animation: burn 1.5s linear infinite alternate;
 -moz-animation: burn 1.5s linear infinite alternate;
  -ms-animation: burn 1.5s linear infinite alternate;        
}

@keyframes burn {
from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }						
}

@-webkit-keyframes burn {
from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }						
}

@-moz-keyframes burn {
from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }						
}

@-ms-keyframes burn {
from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }						
}

.center {
position: absolute;
margin: auto;
top: 50%; 
left: 50%;
text-align: center;		  
-webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);		  
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);		  
font-family: 'AvenirNext-Heavy', 'Arial Black', sans-serif;
font-stretch: ultra-condensed;
font-size: 600%;
font-size: 12vmin;
font-weight: 900;	
font-style: italic;		  
white-space: nowrap;
color: black; 
text-decoration: none;		           	  	  
}

.center b {
display: block;
font-size: 25%;
margin-top: -3%;
padding: 1% 7%;
font-family: monospace;
font-weight: normal;
}

.center:hover b {
color: white;
background-color: black;
}		